.task-card {
  background-color: #f9f7f7;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 5px;

  &__button {
    margin: 5px;
  }
}
