.task-column {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-top: 0;
  width: 230px;
  text-align: center;

  &--bg-color-first {
    background-color: #d3d3d3;
  }
  &--bg-color-second {
    background-color: #f0eeee;
  }
}
