.task-board {
  &__button {
    background-color: transparent;
    border: none;
    padding: 0 !important;
    font-size: 20px;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: none;
    cursor: pointer;
    margin: 15px 0;
  }
}
