.prompt-container {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  display: inline-block;
  text-align: center;
  width: 230px;

  &__text-area {
    width: 200px;
    margin-top: 10px;
    height: 60px;
    border-radius: 5px;
  }

  &__input-text {
    width: 200px;
    margin-top: 10px;
  }
}
